
  img{
  width:200px;
  height:200px;
}
h1{
color:black;
}

h20{
color: black;
}

h19{
color:blue;
  background-color:black;
}
h18{
color:black;
}
ifrage{
border:10px solid black;
}
h100{
color:black;
}

}
body{
background-color: ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{

}
a{
  background-color: darkcyan;
  text-decoration: none;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 3px solid black;
}
h3 img{
  width: 100px;
  height: 100px;
}
h3 img:hover {
    
    transform:rotateY(20deg);
    transform: translateX(100%);
    transition: 5s ease-in;
    
}
h2 img{
  width: 100px;
  height: 100px;
}
h2 img:hover {
    
    transform:rotateY(20deg);
    transform: translateX(100%);
    transition: 5s ease-in;
    
}
h4 img{
  width: 100px;
  height: 100px;
}
h4 img:hover {
    
    transform:rotateY(20deg);
    transform: translateX(100%);
    transition: 5s ease-in;
    
}
.pyt{
font-size: 40px;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: ;
}

