img {
    opacity: 0.2;
    width: 150px;
    height: 200px;
}
img:hover {
    opacity: 1;
    width:200px;
    height:250px;
    padding: 5px;
    transition: 0.5s ease-out;
}

}
h1{
font-size: 40px;
  color:wiolet;
}
h4{
  color:black;
}
h4:hover {
  font-size: 50px;
   background-color: gold;
   border: 5px solid goldenrod;
    transition: 0.5s ease-out;
}
h5{
color: black;
}
h5:hover {
  font-size: 50px;
   background-color: gold;
   border: 5px solid goldenrod;
    transition: 0.5s ease-out;
}
h6{
color:black;
}
h5:hover {
  font-size: 50px;
   background-color: gold;
   border: 5px solid goldenrod;
    transition: 0.5s ease-out;
}
h7{
color:black;
}
h7:hover {
  font-size: 50px;
   background-color: gold;
   border: 5px solid goldenrod;
    transition: 0.5s ease-out;
}
h8{
color:black;
}
h8:hover {
  font-size: 50px;
   background-color: gold;
   border: 5px solid goldenrod;
    transition: 0.5s ease-out;
}
h20{
color: black;
}
h20:hover {
  font-size: 50px;
   background-color: gold;
   border: 5px solid goldenrod;
    transition: 0.5s ease-out;
}
h19{
color:blue;
  background-color:black;
}
h18{
color:black;
}
ifrage{
border:6px solid gold
}
h100{
color:black;
}
h100:hover {
  font-size: 50px;
   background-color: gold;
   border: 5px solid goldenrod;
    transition: 0.5s ease-out;
}

  

