img{
  width:200;
  height:200;
}
h1{
font-size: 15px;
  color:wiolet;
}
h4{
  color:green;
}
h5{
color: orange;
}
h6{
color:blue;
}
h7{
color:gray;
}
h8{
color:gold;
}
h20{
color: red;
}
h19{
color:yellow;
}
h18{
color:navy;
}
  

